<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Clientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container" style="max-width: 800px;">

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="mensagens">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <div class="split-tela">
            <div class="split-lado">
                <h2>Novo Cadastro</h2>
                <form method="POST">
                    <input type="hidden" name="acao" value="cadastrar">

                    <div class="form-group">
                        <label>Nome Completo:</label>
                        <input type="text" name="nome" required>
                    </div>
                    <div class="form-group">
                        <label>E-mail:</label>
                        <input type="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label>CPF:</label>
                        <input type="text" name="cpf">
                    </div>
                    <div class="form-group">
                        <label>Telefone:</label>
                        <input type="text" name="telefone">
                    </div>
                    <div class="form-group">
                        <label>Criar Senha:</label>
                        <input type="password" name="senha" required>
                    </div>
                    <button type="submit">Cadastrar</button>
                </form>
            </div>

            <div class="linha-divisoria"></div>

            <div class="split-lado">
                <h2>Já tenho conta</h2>
                <form method="POST">
                    <input type="hidden" name="acao" value="login">

                    <div class="form-group">
                        <label>E-mail cadastrado:</label>
                        <input type="email" name="email_login" required>
                    </div>
                    <div class="form-group">
                        <label>Senha:</label>
                        <input type="password" name="senha_login" required>
                    </div>
                    <button type="submit" class="btn-buscar" style="width: 100%; margin-top: 15px;">Entrar no
                        Sistema</button>
                </form>
            </div>
        </div>

    </div>
</body>

</html>